---
import { base } from "astro:config/server";

import Title from "../ui/Title.astro";
import Text from "../ui/Text.astro";

interface Props {
   iconFile: string;
   title: string;
   description: string;
}

const { iconFile, title, description } = Astro.props;
---

<div class="our-values-card">
   <img src={`${base}icons/${iconFile}`} alt={iconFile} />
   <Title type="h5">{title}</Title>
   <Text>{description}</Text>
</div>

<style>
   .our-values-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--gap);

      img {
         width: 54px;
      }

      p {
         text-align: center;
      }
   }
</style>
