---
import { base } from "astro:config/server";

import Title from "../ui/Title.astro";
import Text from "../ui/Text.astro";

interface Props {
   videoFile?: string;
   imageFile?: string;
   title: string;
   description: string;
   price: string;
}

const { videoFile, imageFile, title, description, price } = Astro.props;
---

<div class="service-card">
   <div class="service-card-source">
      {
         videoFile && (
            <video controls>
               <source src={`${base}/videos/${videoFile}`} type="video/mp4" />
               Tu navegador no acepta videos.
            </video>
         )
      }

      {imageFile && <div style={`background-image: url(${base}/images/${imageFile});`} />}
   </div>
   <Title type="h4">{title}</Title>
   <Text>{description}</Text>
   <Title type="h6">Por solo <span>${price} pesos</span></Title>
</div>

<style>
   .service-card {
      height: 380px;
      border-radius: var(--rounded-base);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .service-card-source {
         width: 100%;
         aspect-ratio: 16/9;
         border-radius: var(--rounded-base);
         overflow: hidden;
         background-color: #444;

         video {
            width: 100%;
            height: 100%;
            border-radius: var(--rounded-base);
            display: block;
            object-fit: cover;
            object-position: top;
         }

         div {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
         }
      }

      h6 {
         span {
            color: var(--primary-color);
         }
      }

      h4,
      p,
      h6 {
         margin-left: var(--gap);
      }
   }

   @media screen and (min-width: 1280px) {
      .service-card {
         height: 400px;
      }
   }
</style>
